body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{border-collapse:collapse}
td, th {border: 1px solid #999;padding: 5px;text-align: center;}
tbody tr:nth-child(odd) {background: #eee;}
thead{background:#3456;}
